<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Sistema APF{% endblock %}</title>

    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <hr class="sidebar-divider my-0">
            <li class="nav-item {% if 'clientes' in request.url.path %}active{% endif %}">
                <a class="nav-link" href="/clientes">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Clientes</span></a>
            </li>
            <li class="nav-item {% if 'projetos' in request.url.path %}active{% endif %}">
                <a class="nav-link" href="/projetos">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Projetos</span></a>
            </li>
            <li class="nav-item {% if 'sistemas' in request.url.path %}active{% endif %}">
                <a class="nav-link" href="/sistemas">
                    <i class="fas fa-fw fa-desktop"></i>
                    <span>Sistemas</span></a>
            </li>            
            <li class="nav-item {% if 'fatores-ajuste' in request.url.path %}active{% endif %}">
                <a class="nav-link" href="/fatores-ajuste">
                    <i class="fas fa-fw fa-sliders-h"></i>
                    <span>Fatores de Ajuste</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Contagens</span></a>
            </li>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    </nav>
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Seu Sistema APF 2025</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/js/sb-admin-2.min.js"></script>
</body>
</html>